@import url('https://fonts.googleapis.com/css?family=Dosis|Montserrat|Shrikhand|Titillium+Web|Ubuntu');

/* General Elements */
* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: helvetica, sans-serif;
}

/* Specific Elements */
.main {
  background-color: #E7E7E7;
  width: 100%;
}


/* =========================== Header/NAV ============================== */
header {
  /* background-color: lightblue; */
  background: url("images/sky copy.jpg") no-repeat fixed;
  background-size: cover;
  height: 450px;
  padding-top: 100px;
}
.header-text {
  margin-top: 100px;
  padding-left: 100px;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: lightgray;
  padding-top: 25px;
  padding-bottom:  25px;
  background: url("images/sky copy.jpg") no-repeat center top;
  background-size: cover;
  border: 2px solid #F0F0F0;
}

/* ================================ About ================================= */
#about {
  padding-top: 40px;
}

.about-item {
  background-color: #F0F0F0;
  padding: 20px 40px;
  margin-bottom: 30px;
}

/* ================================= Work ================================= */
.project {
  background-color: lightblue;
  width: 100%;
}
