@import url('https://fonts.googleapis.com/css?family=Raleway|Montserrat|Shrikhand|Ubuntu');

/* General Elements */
* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: helvetica, sans-serif;
}

/* Removes highlighting when the link has been clicked */
a::selection {
  color: none;
  background-color: none;
  text-decoration: none;
}

/* Specific Elements */



/* =========================== Header/NAV ============================== */
header {
  /* background-color: lightblue; */
  background: url("images/green2.jpg") no-repeat fixed;
  background-size: cover;
  height: 450px;
  padding-top: 100px;
  color: white;
}
.header-text {
  margin-top: 100px;
  padding-left: 100px;
  font-family: Montserrat;
  font-size: 1.5rem;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: lightgray;
  padding-top: 25px;
  padding-bottom:  25px;
  background: url("images/green2.jpg") no-repeat center top;
  background-size: cover;
  border-bottom: 2px solid #F0F0F0;
  color: white;
}

.nav-buttons a {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 13px 18px;
  margin-right: 10px;
}

.nav-buttons a:hover {
  background-color: #E7E7E7;
  text-decoration: line-through;
  color: #F08A51;
}

.personal-info {
  font-family: Montserrat;
  font-size: 1rem;
}

.personal-info .name {
  font-family: Ubuntu;
  font-size: 2rem;
  font-weight: bold;
}

/* ================================ About ================================= */
/* Sets the background color outside of the bootstrap container */
.about-container {
  background-color: #E7E7E7;
  width: 100%;
}

#about {
  padding-top: 40px;
}

#about h1 {
  font-family: Ubuntu;
  font-size: 2.5rem;
}

#about p {
  line-height: 1.5;
  font-weight: lighter;
  font-size: 1rem;
}

.about-item {
  background-color: #F0F0F0;
  padding: 20px 40px;
  margin-bottom: 30px;
}

.contact-me a {
  color: lightblue;
  margin-right: 5px;
  border: 2px lightblue solid;
  border-radius: 5px;
  padding: 5px 8px;
}

.contact-me a:hover {
  text-decoration: line-through;
  color: #F08A51;
}

/* ================================= Work ================================= */
.project {
  background-color: lightblue;
  width: 100%;
}

#work {
  color: white;
}

.work-intro {
  font-family: Montserrat;
  font-size: 2.8rem;
  padding-top: 10px;
}

.green-1 {
  background-color: #C3D3A7;
}

.gray-1 {
  background-color: #C5C5C5;
}

.green-2 {
  background-color: #A8C474;
}

.project-container {
  padding: 30px;
}

.project-info {
  font-family: Ubuntu;
  font-size: 1.4rem;
  line-height: 1.6;
}

.project-title {
  text-decoration: underline;
}

.image-container {
  height: 350px;
  overflow-x: hidden;
  border: 5px solid gray;
  margin: 15px;
}

.project-link {
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
  padding: 8px 12px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 10px;
}

.project-link:hover {
  text-decoration: line-through;
  color: #F08A51;
  background-color: #E7E7E7;
}

.tech-used {
  text-align: center;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.links {
  text-align: center;
  margin-bottom: 30px;
}
